* {
  box-sizing: border-box;
}

body {
  font-family: Oswald;
  font-size: 18px;
  color: white;
  text-shadow: 1px 1px black;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(327deg, #3a3d40 0%, #181719 100%);
}

.background {
  background-image: url('../src/assets/img/backgroundIMG.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
  display: flex;
}

.App {
  margin: auto;
  padding: 10px;
  width: 500px;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.507);
}

.activation {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 350px;
  height: 90px;
  margin: 3px;
  position: relative;

  button {
    background-color: rgba(255, 3, 3, 0.907);
    font-size: 13px;
    color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    right: 5px;
    bottom: 5px;
  
    &:hover {
      cursor: pointer;
      background-color: rgba(73, 60, 60, 0.556);
    }
  }
}

.true {
  background-color: rgba(39, 214, 19, 0.751);
}

.false {
  background-color: rgba(231, 34, 24, 0.797);
}

