* {
  box-sizing: border-box;
  h1 {
    margin: 0;
    padding: 0;
  }
}

body {
  font-family: Oswald;
  font-size: 18px;
  color: white;
  text-shadow: 1px 1px black;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  background-color: #0f3e46;
}

.App {
  margin: auto;
  width: 500px;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./assets/img/backgroundIMG.jpg');
  background-size: 300%;

  input {
    width: 150px;
    height: 30px;
    margin-top: 3px;
    margin-bottom: 5px;
  }
}

.activation {
  padding: 10px;
  border-radius: 15px;
  width: 350px;
  height: 125px;
  margin: 3px;
  position: relative;

  button {
    background-color: rgba(255, 3, 3, 0.907);
    font-size: 13px;
    color: white;
    border: 0;
    padding: 7px;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    bottom: 8px;

    &:hover {
      cursor: pointer;
      background-color: rgba(73, 60, 60, 0.556);
    }
  }
}

.avalible {
  background-color: rgba(39, 214, 19, 0.751);
}

.notAvalible {
  background-color: rgba(231, 34, 24, 0.797);
}

.addBtn {
  background-color: rgba(255, 3, 3, 0.907);
  background-color: rgba(255, 3, 3, 0.907);
  font-size: 15px;
  color: white;
  border: 1px solid black;
  padding: 7px 30px;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    background-color: rgba(73, 60, 60, 0.556);
  }
}

.plug {
  background-color: black;
  width: 350px;
  height: 125px;
}